@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$background-color: #616161;
$toolbox-background: 	#141d26;
$secondary-background: #243447;
$font-color: #ffffff;
$primary-color: #c51f5d;

%flex-center {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

%window {
    z-index: 1;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);    
}

.main {
  background: $background-color;
}
canvas {
    background: #61616100;
}
body {
    margin:0;
    background: gray;
    color: $font-color;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

titlebar {    
    
    border-radius: 7px 7px 0 0;
    padding: 3px;
    flex: 0 0 100%;
    margin: 5px 5px 0 0;
    font-size: 1.2rem;
}

@import 'toolbox';
@import 'slider';
@import 'components/layers'