.tool-settings-box {
    position: fixed;
    @extend %flex-center;
    flex-direction: row;
    z-index: 1;
    background: $toolbox-background;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 7px;
}

#tool-settings-box {
  bottom: 130px;
  left: 120px;
  height: 40px;
}
#terrain-hotbar {
  bottom: 40px;
  left: 120px;
}

.toolbox {
    position: fixed;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    top: 75px;
    left: 20px;
    z-index: 1;
    background: $toolbox-background;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 7px;
}
.toolbox-item {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 25px;
    width: 25px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: unset;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
    margin-bottom:15px;
    color: $font-color;
}
.toolbox-item:hover{
    color: $primary-color;
    transform: scale(1.005);
}

.toolbox-item-selected {
    color: $primary-color;
}

.toolbox-item:focus {
    outline: 0px;
}

.tool-setting-group {
    @extend %flex-center;
    flex-direction: row;
}

.tool-setting-group-label{
  margin:15px;
}

.hotbar-element {
  width: 52px;
  height: 52px;
  background: $secondary-background;
  margin-right: 5px;
}

.hotbar-element-selected {
  animation: bg 2.5s infinite alternate;
  border-width: 1px;
  border-color: $font-color;
  border-style: double;
}

@keyframes bg {
  0%   { background: $secondary-background; }
  100% { background: $primary-color; }
}

.hotbar-key {
  font-size: 1.1rem;
  position: relative;
  top: 0px;
  left: 3px;
  z-index: 1;
}
.hotbar-icon {
  width: 78%;
  position: relative;
  top: -15px;
  left:7px;
  z-index: 0;
}

#terrain-group-hotbar{
  position:fixed;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 510px;
  bottom: 120px;
  height: 200px;
  left: 120px;
  z-index: 3;
  .hotbar-element {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.texture-select-element{
  width: 50px;
  height: 50px;
  background-color: $secondary-background;
  margin-right: 5px;
}

.texture-select-element-img{
  width: 90%;
  position: relative;
  left: 4px;
}

#texture-group-expanded-select{
  position:fixed;
  display: flex;
  align-content: flex-start;
  flex-direction: column-reverse;
  justify-content: flex-start;
  flex-wrap: wrap;
  bottom: 200px;
  left: 120px;
  width:1000px;
  height: 500px;
  background-color: red;
  .tool-settings-box{
    h2{
      width:100%;
      font-size: 1.3rem;
      font-weight: 700;
      margin: 0 0px 0 0px;
    }
    position: relative;
    margin: 7px 0px 7px 0px;
    flex-wrap: wrap;
  }
}