layers {
    @extend %window;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    position: absolute;
    width: 200px;
    top: 150px;
    right: 50px;
    z-index: 3000;
    background-color: $toolbox-background;
}

%test-border {
    border-style: dotted;
    border-width: 1px;
    border-color: $primary-color;
}

layer {
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 6px;
    background-color: $secondary-background;
    display: grid;

    grid-template-areas:
    'menu main main main right right';

    label {
        @extend %flex-center;
        grid-area: main;
        font-size: 0.77rem;
    }
}

.layer-active {
    border-style: solid;
    border-width: 1px;
    animation-name: borderFlash;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes borderFlash {
    0% {background-color: $primary-color;}
    50% {background-color: $secondary-background;}
    100% {background-color: $primary-color;}
}

layer:hover{
    border-width: 1px;
    border-style: solid;
    border-color: $background-color;
}

.layer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layer-preview {
    grid-area: menu;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 3px;
}

.layer-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    font-size: 1.1rem;
    grid-area: right;
    i{
        display: inline-block;
        flex: 1 0 51%;
        padding: 3px;
    }
}

.layer-window-buttonbar{
 @extend %flex-center;
 width: 100%;
 justify-content: flex-start;
 button {
     margin-left: 10px;
     i{
         font-size: 1.2rem;
     }
 }
}